---
layout: default
---

<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-offset-1 col-md-10 col-lg-offset-2 col-lg-8">
    <div class="page">

      <header class="page-header">
        <h3 class="page-title">{{ page.title }}</h3>
        <div class="post-metadata">
          <div> <i class="fa fa-calendar"></i>
            <time>
              {{ page.date | date:'%A, %B %d, %Y'}}
            </time>
          </div>
          <div> <i class="fa fa-tag"></i>
              {% for tag in page.tags %}
                <span class="label label-primary">{{tag}}</span>
              {% endfor %}
          </div>
        </div>

      </header>

      <article class="page-content">
        {{ content }}
      </article>

      {% if page.comments %}
        <div id="disqus_thread"></div>
        <script type="text/javascript">
          /* * * CONFIGURATION VARIABLES * * */
          var disqus_shortname = 'johnhallio';

          /* * * DON'T EDIT BELOW THIS LINE * * */
          (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
          })();
        </script>
        <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
      {% endif %}
    </div>
  </div>
</div>
